<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clasificar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="centerImage">
    <ion-card-header>
      <ion-card-title style="text-align:center">Tomarás el examen seleccionado de la siguiente lista.</ion-card-title>
      <ion-item>
        <ion-label>Exámenes Disponibles</ion-label>
        <ion-select [(ngModel)]="examSelect" okText="Elegir" cancelText="Cancelar">
          <ion-select-option *ngFor="let exam of exams" [value]="exam">{{exam.examName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-row class="ion-justify-content-center">
    <ion-button (click)="practice()">Práctica</ion-button>
    <ion-button (click)="exam()">Examen</ion-button>
  </ion-row>
 
</ion-content>
